<div class="container">
  <a href="/snacks"> <<< Dive back in</a>
  <div class="row">
    <div class="side-bar col-xs-3">
    </div>
    <div class="snack-show-col col-xs-5">
      <img id="show-pg-img" src="{{ snack.img_url }}"
        alt="{{ snack.name }}"
        class="poster">
      <h1> {{ snack.name }} </h1>
      <h2>Description: {{snack.review_desc}}</h2>
      <h2>Rating: {{snack.rating}}</h2>
    </div>
    <div class="side-bar col-xs-3">
    </div>
  </div>
</div>
